.footer {
    padding: var(--size-padding-base);
}

.line {
    height: 20px;
    background: none;
    border: 1px solid var(--color-base);
    display: flex;
    /*padding: 3px;*/
}

.point {
    position: relative;
    background-color: var(--color-base);
    height: 100%;
}
